# Dépendances
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documents Projet (PDF)
Projet*.pdf
Synth*.pdf
*.pdf

# TEXTES
*.txt

# Divers
.DS_Store
